.mailmap
# Logs
logs
*.log
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Release and build artifacts
release
.vscode/.debug.env
mongodb-realm
crypto

# Generated packages (will be in releases)
paperlib-extension-package/
obsidian-plugin-install/